* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: beige;
}

header {
    background-color: aqua;
}

main {
    background-color: black;
}

li img {
    width: 100px;
    height: 100x;
}

footer {
    background-color: red;
}